# =========================
# ENV
# =========================
.env

# =========================
# DATA
# =========================
data/
*.parquet
*.dbn.zst

# =========================
# LOGS
# =========================
logs/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# JUPYTER
# =========================
*.ipynb

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
